*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.ondas{
    background-image: url('assets/back_ondas.svg');
    background-size: contain;
    width: 110%;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    mix-blend-mode:overlay;
    opacity: 100%;
    position: absolute;
    top: 10vw;
    right: 50%;
    transform: translate(50%,0%);
    z-index: 1;
    overflow-x: hidden;
    
}

header{
    height: 6vw;
    display: flex;
    justify-content: space-between;
    padding: 0 14.5vw 0 6vw;
    margin-top: 1vw;
    align-items: center;

}

header .logo {
    height: 100%;

}

header .logo img{
    max-height:100%;
    
}

header nav ul{
    display: flex;
    gap: 1vw;
    font-family: 'SF Pro Text';
    font-style:normal;
    font-weight:normal;
    font-size: 1.2vw;
    /* identical to box height */

    letter-spacing: -0.02em;

}

header nav ul li a{
    color: #22313f;
}

header nav ul li a:hover{
    text-decoration: underline;
}

/* HOME */

.chamada_home{
  position: relative;
  width: 100%;
  height: 50vw;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
}

.car_home{
    background-image: url('assets/car_home.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    height: 45VW;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: brightness(115%);
    animation: show_car_home 0.2s ease-in 0s forwards;
}

@keyframes show_car_home {
	from{
		right: -30vw;
	} to{
        right: -10vw;
	}
}

.chamada1{

    background-image: url('assets/chamada1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 30%;
}

.dois_trocar{
  width: 100%;
  height: 50vw;

}


.degrade_clients{
  background: linear-gradient(180deg, #FFFFFF 15%, rgba(124, 184, 255, 0.6) 30%, #FFFFFF 75%);
  background-position: center;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

/* Clients List */


.dashboard{
    position: relative;
    width: 100%;
    height: 50vw;
    box-sizing: border-box;
    z-index: 10;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: transparent;
}


.clients_form{
    width: 30vw;
    height: 30vw;

}

.car_wash{
    background-image: url('assets/car_wash.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 40VW;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(16%, -65%);
    z-index: 2;
    animation: show_car_wash 1.8s ease-in 0s forwards;
    margin-top: 4vw;
}

@keyframes show_car_wash {
	from{
		opacity: 0;
	} to{
        opacity: 100%;
	}
}

.client_form{
    width: 40vw;
    height: 40VW;
    position: absolute;
    top: 50%;
    right: 16%;
    z-index: 2;
    background: rgba(255, 255, 255);
    box-shadow: 5px 2px 50px -10px #012b5a2e;
    border-radius: 26px;
    z-index: 800;
    animation: show_form 1s ease-in-out 0s forwards;
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;

}

.client_form_sub{
    width: 40vw;
    height: 40VW;
    position: absolute;
    top: 50%;
    right: 25%;
    z-index: 2;
    transform: translate(300%, -65%);
    background: rgba(124, 184, 255, 0.45);
    box-shadow: 0px 23px 52px -6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 26px;
    z-index: 799;
    animation: show_form 1s ease-in-out 0.1s forwards;
    padding: 2vw 0 0 2vw;
    display: flex;
    align-content: flex-start;
    align-items: start;
    flex-direction: column;
    gap: 1vw;
    box-sizing: border-box;
    margin-top: 4vw;

}

@keyframes show_form {
	from{
		transform: translate(300%, -65%);
	} to{
        transform: translate(30%, -65%);
	}
}

.button_form {
    position: relative;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 0.5vw;
  }
  
  .button_form:active {
    transform: translateY(3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
  }
  
  .button_form span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .client_form_sub .image-upload-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    flex-direction: column;
  }

  .client_form_sub  .image-preview {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('assets/moldura_foto_car.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client_form_sub  .image-preview .photo{
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    overflow: hidden;

  }

  .client_form_sub  .image-preview .photo img{
    width: 4.5vw;
    height: 4.5vw;
    transition: 0.7s;
  }


  .client_form_sub  .image-preview .photo img:hover{
    width: 6vw;
    height: 6vw;
  }

  
  .client_form_sub .upload-input {
    display: none;
  }

  .client_form_sub  .upload-label {
    padding: 1vw;
    background-color: #f1f1f1;
    cursor: pointer;
    position: relative;
    width: 4vw;
    height: 0.5vw;
    border-radius:3vw;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;    
  }

  .client_form_sub  .upload-label span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'SF Pro Text';
    font-weight: bold;  
    text-align: center;
  
  }

  .client_form_sub  .upload-label:active {
    transform: translateY(3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
  }



  .client_form form{
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

  .titulo_forms_clients{
    font-family: 'SF Pro Text';
    font-weight: bold;
    color: #22313f;
    display: flex;
    justify-content: center;

  }

.central_fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vw;
    justify-content: center;
    justify-items: center;

}

  .input_label{

    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;

  }

  .input_label label{

    font-family: 'SF Pro Text';
    font-weight:normal;
    color: #22313f;

  }

  .input_label input{

    width: 15vw;
    background: #FFFFFF;
    box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 1.3vw;
    padding: 0.4vw;
    font-family: 'SF Pro Text';
    font-weight: normal;
    color: #22313f;
  }

  .car_fields_title{

    font-family: 'SF Pro Text';
    font-weight: normal;
    color: #22313f;
    display: flex;
    justify-content: start;
    padding-left: 1vw;

  }

  .car_fields_title h2{

    font-weight:600;
    font-size: 1.5vw;

  }

  .car_fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vw;
    justify-content: center;
    justify-items: center;
    margin-top: -1vw;

  }

  #car_color{   
    width: 16vw;
    background: #FFFFFF;
    box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 2.1vw;
    border-right: 1vw solid white;
    padding-left: 1vw;
    font-family: 'SF Pro Text';
    font-weight: normal;
    color: #22313f;
    margin: 2vw solid white;
  }

  .car_color_input span{
    display: flex;
    gap: 0.5vw;
    align-items: center;
    

  }

  .car_color_input span p{
    
    width: 1vw;
    height: 1vw;
    transform: translateY(10%);
    border-radius: 100%;
  }

  .car_color_input span .p_red{
    
    background-color: lightcoral;
  }

  .car_color_input span .p_blue{
    
    background-color: lightblue;
  }

  .car_color_input span .p_yellow{
    
    background-color: rgb(255, 248, 114);
  }

  .car_color_input span .p_green{
    
    background-color: lightgreen;
  }

  .car_color_input span .p_black{
    
    background-color: black;
  }

  .car_color_input span .p_white{
    
    background-color: white;
    border: 0.1vw solid black;
  }

  .services_for_clients{
    font-family: 'SF Pro Text';
    padding-left: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'services_fildes_title services_date_block'
    'services_select services_date_block';
  }

  .services_fildes_title{
    grid-area: services_fildes_title;
  }

  .services_select{
    grid-area: services_select;
    align-self: center;
  }

  .services-date{
    font-weight: normal;
    font-size: 0.8vw;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    color: #22313f;
    grid-template-areas: 
    'services_title services_title'
    'services_date services_time';
    grid-area: services_date_block;
    align-content: end;
    column-gap: 0.5vw;
  }

  .services_date_title{
    grid-area: services_title;
    padding-top: 1vw;
    display: block;
  }

  .services-date input[type=date]{
    grid-area: services_date;
  }

  .services-date input[type=time]{
    grid-area: services_time;
  }

  .services-date input[type=time], input[type=date]{
    padding: 0.7vw 0.7vw 0.7vw 1.7vw;
    border: 1px solid #ccc;
    border-radius: 1vw;
    background: #FFFFFF;
    box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.1);
    border-radius: 1.3vw;
    font-family: 'SF Pro Text';
    color: #22313f;
  }

  .clients_list_sec{
    width: 100%;
    height: 50vw;
    background-color: transparent;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 3vw;
  }


 
  .principal_clients_list{
    width: 70vw;
    height: 45vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vw;
  }

  .search_clients_container form input{
    width: 25vw;
    height: 2.5vw;
    background: #FFFFFF;
    box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 0 1vw 0 2.8vw;
    font-family: 'SF Pro Text';
    color: #22313f;
    font-size: 1vw;
    font-weight: normal;

  }

  .search_input_wraper{
    position: relative;

  }
  .search_input_wraper button{
    background-image: url('assets/icon_search_client.svg');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 100%;
    height: 1.4vw;
    width: 1.4vw;
    position: absolute;
    top: 50%;
    left: 1vw;
    transform: translate(0,-50%);
    transition: 1s;
  }

  .search_input_wraper button:hover{
    transform:scale(1.4);
  }

  .search_input_wraper input:focus{
    border: 0.15vw solid #22313f;
}

.clients_list{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.client_card_container{
  width: 100%;
  height: fit-content;
  position: relative;
}

.client_card{
  width: 35vw;
  height: 10vw;
  box-sizing: border-box;
  position:absolute;
  z-index: 1;
}

.client_card_back{
  width: 26vw;
  height: 10vw;
  box-sizing: border-box;
  position: absolute;
  z-index: 0;
  border-radius: 2vw;
  right: 33vw;
  background-color: white;
  box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
  transition-timing-function:ease-in-out;
  padding-left: -20vw;
}

.client_card_back_seta{

  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  background-image: url('assets/seta_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  top: 50%;
  right: 0.5vw;
  transform: translateY(-50%);
  z-index: 1;
}

.client_card_back:hover{
  right: 6vw;
  width: 33vw;
  margin-left: 20vw;
}

.client_card_back:hover .client_card_back_seta{
  transform: rotate(180);
}

.client_card_info{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 1vw;
  padding: 0.5vw;
  align-items: center;
  font-family: 'SF Pro Text';
  color: #22313f;
  font-size: 0.9vw;
  background-color: white;
  border-radius: 2vw;
  box-shadow: -10px 2px 15px rgba(0, 0, 0, 0.05);
  

}

.client_photo{
  background-image: url('assets/user_icon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8vw;
  height: 8vw;
}

.clients_info{
  width: 20vw;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3vw 3vw;
  align-items:center;
  align-content: center;
  row-gap: 0.1vw;
  grid-template-areas: 
  "full_name full_name"
  "phone email";
}

.clients_info .full_name{
  font-weight: bold;
  font-size: 1.3vw;
  grid-area: full_name;
}

.clients_info .phone, .clients_info .email, .cars_info .car_brand, .cars_info .car_model,.cars_info .car_color, .cars_info .car_plate {

  display: flex;
  column-gap: 0.1vw;
  align-items: center;
  flex-direction: row;
}

.clients_info .phone span{

  width: 1.7vw;
  height: 1.7vw;
  background-image: url('assets/phone_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-area: phone;
}

.clients_info .email span{

  width: 1.7vw;
  height: 1.7vw;
  background-image: url('assets/email_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-area: email;
}

.cars_info{
  width: 25vw;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3vw 3vw;
  align-items:center;
  align-content: center;
  row-gap: 0.1vw;
  column-gap: 2vw;
  margin-left: 5vw;
}

.cars_info .car_brand span{

  width: 1.7vw;
  height: 1.7vw;
  background-image: url('assets/brand_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cars_info .car_model span{

  width: 1.7vw;
  height: 1.7vw;
  background-image: url('assets/model_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cars_info .car_color span{

  width: 1.7vw;
  height: 1.7vw;
  background-image: url('assets/color_palet_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cars_info .car_plate span{

  width: 1.7vw;
  height: 1.7vw;
  background-image: url('assets/icon_plate.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cars_info_total{
  display: flex;
  align-items: center;
  column-gap: 1vw;
  width: 100%;
  height: 100%;
}

.clients_list_car_photos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5vw;
  width: 10vw;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-right: 5vw
}

.clients_list_photo{
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  overflow: hidden;
  margin-right: -1vw;
  border: 0.2vw solid white;
  box-sizing: border-box;

}
.clients_list_photo img{
  width: 8vw
}

